@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{ margin: 0; padding: 0; box-sizing: border-box; }
li { list-style: none;}
a { text-decoration: none; color: #212121; display: block; white-space: nowrap; font-family: 'Noto Sans KR', sans-serif;}
img { width: 100%;}
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
header, section, footer {
    width: 100%;
}
.wrap { width: 100%; }





/* 모바일 버전 */
.center { width: 100%; margin: 0 auto; }
header {
    position: fixed;
    background-color: black;
    z-index: 100;
    height: 60px;
    padding: 4%;
}

header .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

header .center .logo {
    /* 접속한 장치의 가로길이를 100%로 보고 그 길이의 32% */
    /* %단위는 부모객체(.center)기준임 */
    width: 31vw;
}

/* 모바일에서는 네비게이션 안보임 */
header .center nav {
    display: none;
}

header .center .top_menu {
    width: 14vw;}

header .center .top_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
}

header .center .top_menu ul li {
    width: 6vw;
}

/* 메인슬라이드 - swiper */
section .swiper .swiper-slide {
    position: center;;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* 접속한 모바일 장치의 세로길이만큼 슬라이드 높이 설정 */
    height: 100vh;
}

section .swiper .s1 {
        background-image: url(../img/core/main1_mobile.png);
}

section .swiper .s2 {
    background-image: url(../img/core/main2_mobile.png);
}

section .swiper .s3 {
        background-image: url(../img/core/main3_mobile.png);
}

section .swiper .swiper-slide h1 {
    /* 글자크기, 가운데 정렬, 글꼴 설정 */
    /* 글자를 브라우저에서 안보이게 설정-들여쓰기 */
    text-indent:-9999px;
}

section .swiper .swiper-slide p {
    text-indent:-9999px
}

/* 메인 슬라이드의 페이지네이션 위치 변경 */
.swiper .swiper-pagination {
    bottom:30px;
}

/* 메인 슬라이드의 페이지네이션 커스텀 */
.swiper .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    border-radius: 0;
    background-color: #8E420B;
    opacity: 0.5;
}

/* 메인 슬라이드의 페이지네이션 활성화 되었을 때 스타일 커스텀 */
.swiper .swiper-pagination-bullet-active {
    background-color: #DE6B22;
    opacity: 1;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡsection 2ㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.sec2 {
    width: 100%;
    padding: 12.5vw 6vw;
}

.sec2 .center {
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.sec2 .center div {
    width: 100%; 
    /* height: 30vw; */
    padding: 5vw;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: inline-block;
    white-space: nowrap;

    /* background-position: right bottom; */
    background-position: 90% 80%;
    background-size: 26%;
    background-repeat: no-repeat;
    line-height: 20px;
}

.sec2 .center div h2 {
    color: #DE6B22;
    padding-bottom: 12px;
    border-bottom: 1px solid grey;
}

.sec2 .center div p {
    line-height: 24px;
    padding: 10px 0;

}

.sec2 .center div span {
    font-style: normal;
    color:#8E420B;
    font-size: 14px;
}

.sec2 .center div b {
    padding-top: 15px;
    display: block;
}

.sec2 .center div button {
    padding: 7px 30px;
    background-color: #DE6B22;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}

.sec2 .center div button a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.sec2 .center .time {
    background-image: url(../img/core/opening_hour.png);
}
.sec2 .center .road {
    background-image: url(../img/core/road.png);
}





/* 
.sec2 .center div hr {
    width: 64%;
    border: none;
    background-color: #91499c;
    margin: 10px 0;
}

.sec2 .center div span {
    color: #999;
    font-size: 14px;
} */





/* 
ㅡㅡㅡㅡㅡㅡ스와이퍼 왼쪽 버튼, 오른쪽 버튼 커스텀하기ㅡ 시작ㅡㅡㅡㅡㅡ

<버튼 이미지 커스텀하기>
.sec1 .swiper .swiper-button-prev:after {
    content:url(../img/prev.png);
    width: 40px;;
    height: 40px;
}
.sec1 .swiper .swiper-button-next:after {
    content:url(../img/next.png);
    width: 40px;
    height: 40px;
}

ㅡㅡㅡㅡㅡㅡ스와이퍼 왼쪽 버튼, 오른쪽 버튼 커스텀하기ㅡ 끝ㅡㅡㅡㅡㅡ
 */





/* 미디어쿼리-태블릿버전 */
@media screen and (min-width:768px) {
    .center { width: 100%; margin: 0 auto; }
}

/* 미디어쿼리-pc버전 */
@media screen and (min-width:1280px) {
    /* 1440/1920*100 = 75%, 1200/1920*100 = 62.5% */
    .center { width: 1200px; margin: 0 auto; }
}